# .DS_Store
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Ignore all nested directories under data/splitted
data/splitted/*/**

# Keep Data_stat_summ folders inside every dataset
!data/splitted/*/Data_Statistics_Summary/
!data/splitted/*/Splitted_Data_Statistics_Summary/

# Ignore unimportant Report.* files
Report.aux
Report.bbl
Report.blg
Report.fdb_latexmk
Report.fls
Report.log
Report.out
Report.synctex.gz
Report.tex
Report.toc
literature.bib
logo.jpg
Report/sections
Report/figures
